<h3>Favorite Questions</h3>
<ul>
  {{#each favoritesList.questions as |question|}}
    <li><span class="glyphicon glyphicon-heart"></span> {{question.question}} by {{question.author}}</li>
  {{/each}}
</ul>
