<nav>
    {{#link-to 'index'}}<img id="logo" src="http://www.movimentotorino.it/site/Question-mark-icon.png" alt="logo" />Answers{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
</nav>

<div class="container">
  {{outlet}}
</div>

<footer class="center">
    &copy;2016 <a href="https://github.com/jsween">Jon Sweeney</a>
</footer>
