{{question-detail question=model.question save="editQuestion" delete="deleteQuestion"}}

<div class="answers">
  {{answer-new question=model.question save="saveAnswer"}}
  {{answer-list question=model.question}}
</div>
